.image-backstretch {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.image-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}

.image-slide.active {
  transition: none !important;
  opacity: 1;
  z-index: 1;
}

.image-slide {
  &.programmer-dark {
    background: url('../images/bg/img-1-dark.jpg') no-repeat center center/cover;
  }

  &.programmer-light {
    background: url('../images/bg/img-2-dark.jpg') no-repeat center center/cover;
  }

  &.event-eye {
    background: url('../images/bg/ee-dark.jpg') no-repeat center center/cover;
  }

  &.cake {
    background: url('../images/bg/cake-dark.jpg') no-repeat center center/cover;
  }

  &.bolink {
    background: url('../images/bg/bolink-dark.jpg') no-repeat center center/cover;
  }
}
