.navbar-brand {
  width: 130px;
  height: 33px;
  margin-top: 8px;
  background: url('../images/brand-green.png') no-repeat center center /cover;
}

.navbar-default {
  .navbar-header {
    position: relative;
    z-index: 200;
  }

  &.navbar.navbar-fixed-top {
    top: 0;
    margin: 0;
    padding: 20px 0;
    background: rgba(23, 24, 27, 0.6);

    .navbar-collapse {
      box-shadow: none;
      border: none;
    }

    @media (max-width: $screen-xs-max) {
      padding: 0;
    }
  }

  .navbar-nav {
    margin: 0;

    & > li {
      position: relative;

      &.active > a {
        color: #fff !important;
      }

      & > a {
        text-transform: uppercase;
        font-family: 'gilroyextrabold';
        font-size: 0.9rem;

        &:hover,
        &:active,
        &:visited,
        &:focus,
        &.active {
          color: #fff !important;
        }
      }

      span {
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.8s ease 0s;

        &:after {
          content: "";
          display: block;
          border-bottom: 4px solid #99d100;
          width: 0;
          transition: width 0.6s ease 0s;
        }
      }

      &:hover span,
      &.active span {
        opacity: 1;

        &:after {
          width: 100%;
        }
      }

      @media (max-width: $screen-xs-max) {
        display: table;
        margin: 10px auto;

        & > a {
          padding-top: 15px;
          padding-bottom: 15px;
        }

        span {
          bottom: 8px;

          &, &:after {
            transition: none;
          }
        }
      }
    }
  }

  .navbar-toggle {
    border: none;
    position: relative;

    &:hover, &:focus {
      background: transparent;
    }

    .icon-bar {
      width: 28px;
      height: 3px;
      opacity: 1;
      transition: opacity 0.3s ease 0s;

      & + .icon-bar {
        margin-top: 5px;
      }
    }

    .close-icon-bar {
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px;
      background: url('../images/close.png') no-repeat center center;
      transition: all 0.5s ease 0s;
      opacity: 0;
      transform: rotate(-45deg);
    }

    &[aria-expanded="true"] {
      .icon-bar {
        opacity: 0;
      }

      .close-icon-bar {
        opacity: 1;
        transform: rotate(0deg);
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .navbar-collapse {
      background: #17181b;
      position: fixed;
      width: 100%;
      top: -100%;
      z-index: 10;
      max-height: none;
      height: 100%!important;
      transition: top 0.5s ease 0s;
      display: flex;
      justify-content: center;
      align-items: center;

      &[aria-expanded="true"] {
        top: 0;
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  .navbar > .container,
  .navbar > .container-fluid {
    .navbar-brand {
      margin-left: 15px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .navbar-brand {
    width: 163px;
    height: 41px;
    margin-top: 4px;
  }

  .navbar > .container,
  .navbar > .container-fluid {
    .navbar-brand {
      margin-left: 0;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .navbar-brand {
    width: 200px;
    height: 50px;
  }
}
